/* .Music {
  transform: translateY(-8rem);
  top: 25%;
  left: 7%;
} */

.Music:focus,
.Music:active {
}

.audio {
  border-radius: 5px !important;
  width: 25rem;
  height: 5rem;
  background-color: #dfdfdf0a !important;
  border-radius: 10px !important;
  color: ;
}
.audio:focus,
.audio:active {
  outline: none;
}
